{% extends '__base2.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-12 breadcrumbs">
        <ul itemscope itemtype="https://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/catalog/" title="Каталог" itemprop="item">
                <span itemprop="name">Каталог</span>
                <meta itemprop="position" content="0">
            </a>
            </li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-12 col-12 left-columns-items">
      <ul>
      {% for m in menu %}
        <li><a href="/catalog/{{m.alias}}/">{{m.name}}</a></li>
      {% endfor %}
      </ul>
    </div>

    <div class="col-lg-9 col-sm-12 col-12 right-columns-items">
      <div class="container-fluid">
          <!--<div class="col-lg-3 col-sm-6 col-12">
              <select class="form-control">
                <option value="asc" {% if 'asc' ==  order%}selected{% endif %}>По цене &#8593;</option>
                <option value="desc" {% if 'desc' ==  order%}selected{% endif %}>По цене &#8595;</option>
              </select>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                Отображение {{first_pages}}–{{pages}} из {{ items.count }}
              </div>
              <div class="col-lg-6 col-sm-6 col-12 pagination">
                  <div class="step-links">
                      {% if pag.has_other_pages %}
                      <ul class="pagination">
                      {% if pag.has_previous %}
                        <li class="arrow"><a href="{{url_s}}&page={{ pag.previous_page_number }}">&#8592;</a></li>
                      {% endif %}
                      {% if pag.number > 1 %}
                          <li><a href="{{url_s}}&page=1">1</a></li>
                          {% if doted_front %}
                            <li>..</li>
                          {% endif %}
                      {% endif %}
                      <li class="active"><span>{{pag.number}}<span class="sr-only">(current)</span></span></li>
                      {% if pag.has_next %}
                          {% if doted_end %}
                            <li>..</li>
                          {% endif %}
                          {% if pag.number != pag.paginator.num_pages %}
                               <li><a href="{{url_s}}&page={{pag.paginator.num_pages}}">{{pag.paginator.num_pages}}</a></li>
                          {% endif %}
                          <li class="arrow"><a href="{{url_s}}&page={{ pag.next_page_number }}">&#8594;</a></li>
                      {% endif %}
                      </ul>
                  {% endif %}
                  </div>
              </div>-->
        </div> 

        <div class="row box"  itemscope itemtype="http://schema.org/ItemList">
           {% for item in pag %}
              <div class="col-lg-4 col-sm-6 col-12" itemscope itemprop="itemListElement" itemtype="http://schema.org/Product">
                  <div class="items-blocks">
                    <div class="img-item-block">
                        <a href="/product/{{item.alias}}/" itemprop="url" >
                            <img itemprop="image" src="{{item.img_front.url}}" alt="{{item.name}}" />
                        </a>
                      {% if item.label_new %}
                        <div class="label-new">Новинка</div>
                      {% endif %}
                      {% if item.label_hit %}
                        <div class="label-hit">Хит</div>
                      {% endif %}
                    </div>
                    <div class="title-item-block">
                        <meta itemprop="description" content="{{item.name}}">
                        <a href="/product/{{item.alias}}/" itemprop="url" ><span itemprop="name">{{item.name}}</span></a>
                        {% if item.size %}
                            <p>Размер: {{item.size}} мм</p>
                        {% endif %}
                        {% if item.dlina %}
                            <p>Длина: {{item.dlina}}</p>
                        {% endif %}
                        {% if item.obrob %}
                            <p>Обработка: {{item.obrob}}</p>
                        {% endif %}
                    </div>
                    <div class="price-item-block" itemscope itemprop="offers" itemtype="http://schema.org/Offer">
                        {% if item.price %}
                            <p itemprop="price">
                                {{item.price|floatformat:'-3'}} {% if item.price_for_wt %} р/шт {% else %} р/м.п. {% endif %}
                            </p>
                        {% endif %}
                        {% if item.price_kv %}
                            <p itemprop="price">
                                {{item.price_kv|floatformat:'-3'}} р/кв.м
                            </p>
                        {% endif %}
                        <meta itemprop="priceCurrency" content="RUB">
                        <meta itemprop="availability" content="http://schema.org/InStock" />
                    </div>
                    <div class="item-block-a"><a href="/product/{{item.alias}}/">Подробнее</a></div>
                  </div>
              </div>
              {% endfor %}
        </div>

        <div class="row filter-bottom">
          <div class="col-lg-3 col-sm-6 col-12">
              <select class="form-control">
                <option value="asc" {% if 'asc' ==  order%}selected{% endif %}>По цене &#8593;</option>
                <option value="desc" {% if 'desc' ==  order%}selected{% endif %}>По цене &#8595;</option>
              </select>
              </div>
              <div class="col-lg-3 col-sm-6 col-12">
                Отображение {{first_pages}}–{{pages}} из {{ items.count }}
              </div>
              <div class="col-lg-6 col-sm-6 col-12 pagination">
                  <div class="step-links">
                  {% if pag.has_other_pages %}
                  <ul class="pagination">
                  {% if pag.has_previous %}
                    <li class="arrow"><a href="{{url_s}}&page={{ pag.previous_page_number }}">&#8592;</a></li>
                  {% endif %}
                  {% if pag.number > 1 %}
                      <li><a href="{{url_s}}&page=1">1</a></li>
                      {% if doted_front %}
                        <li>..</li>
                      {% endif %}
                  {% endif %}
                  <li class="active"><span>{{pag.number}}<span class="sr-only">(current)</span></span></li>
                  {% if pag.has_next %}
                      {% if doted_end %}
                        <li>..</li>
                      {% endif %}
                      {% if pag.number != pag.paginator.num_pages %}
                           <li><a href="{{url_s}}&page={{pag.paginator.num_pages}}">{{pag.paginator.num_pages}}</a></li>
                      {% endif %}
                      <li class="arrow"><a href="{{url_s}}&page={{ pag.next_page_number }}">&#8594;</a></li>
                  {% endif %}
                  </ul>
                  {% endif %}
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form id="updatePosts" method="GET"  style="display: none">
    {% if search %}<input type="text" name="search" value="{{search}}" class="search">{% endif %}
    <input type="text" name="sort" class="sort">
</form>
{% endblock %}
