{% extends '__base2.html' %} {% block content %}

<div class="container py-3 mt-4 section-about">

  <div class="row title-delivery">
    <div class="col-lg-5 col-sm-5 col-2">
      <img src="/static/image/ic-fiber.png" alt="" class="flowers-ico" />
    </div>
    <div class="col-lg-7 col-sm-7 col-10">
      <h3>Доставка</h3>
    </div>
  </div>
  <div class="row content-delivery">
    <div class="col-12">
      <p>Доставка товара осуществляется после того, как вы оставите заявку, далее  с вами связывается наш менеджер, что бы обговорить точную стоимость и дату отправки.</p>
      <p>Если вы находитесь в Самарской, Ульяновской, Пензенской, Саратовской области или в республике Татарстан и Башкортостан, то доставка осуществляется в течении суток. В другие регионы доставка занимает 3-7 дней. </p>
      <p>Стоимость доставки рассчитывается в зависимости от региона и количества товара. Точную стоимость вам озвучит наш менеджер при формировании заказа.</p>
      <p>Для надёжности, мы делаем фотофиксацию погрузки вашего товара и отправляем сопроводительные документы.</p>
      <p>Весь ассортимент товара находится в наличии на складе.</p>
    </div>
  </div>
  <div class="row title-delivery">
    <div class="col-lg-5 col-sm-5 col-2"><img src="/static/image/ic-fiber.png" alt="" class="flowers-ico" /></div>
    <div class="col-lg-7 col-sm-7 col-10">
      <h3>Оплата</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12 content-delivery">
      <p>Мы принимаем оплату от физических и юридических лиц.</p>
      <p>Предоплата за товар составляет 10% от стоимости заказа, после мы скидываем вам фотофиксацию того, что товар отправлен. </p>
      <p>Оставшиеся 90% оплаты производятся при получении товара.</p>
    </div>
  </div>
  <div class="mt-4 section-billing">
   {{data.content|safe}}
  </div>
</div>

{% endblock %}
