{% extends '__base2.html' %}
{% load static %}
{% block header %}
      {% include './_nav.html' %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col home-ban">
        <div class="banner-img" itemscope itemtype="http://schema.org/ImageObject">
          <img src="/static/image/ban_index.png"  itemprop="contentUrl" alt="" />
        </div>

        <div class="banner-text">
          <span>
            Всё для комфортной <br/> загородной жизни
          </span>
          <ul>
              <li>Террасы</li>
              <li>Заборы</li>
              <li>Грядки</li>
              <li>Мебель для сада</li>
          </ul>
        </div>
        <div class="banner-button">
          <button type="button" class="btn btn-primary" id="calc-price" onclick="ym(73248691,'reachGoal','price_click');">
              Рассчитать стоимость
          </button>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid top-col-home">
      <div class="row">
        <div class="col-12">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="title-info">
                    <p>
                  ТОПОВАЯ КОЛЛЕКЦИЯ
                    </p>
                  <div class="blue-line"></div>
                </div>
                  </div>
              </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-12">
                <p>
                  Ясность динамического процесса следует за изменением практики постелей для записи
                </p>
                <a href="/optovikam/" class="btn">УЗНАТЬ БОЛЬШЕ</a>
                  <img src="/static/image/proect1.jpg" width="100%" alt="Проект" />
              </div>
              <div class="col-lg-6 col-sm-6 col-12 a-sm-ll" itemscope itemtype="http://schema.org/ImageObject">
                  <div>
                      <img src="/static/image/proect1.jpg" width="100%" alt="Проект" />
                  </div>
                  <div>
                      <img src="/static/image/proect1.jpg" width="100%" alt="Проект" />
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% if items %}
<div class="container-fluid popular-home">
    <div class="row">
      <div class="col-12">
        <div class="container popular">
          <div class="row">
            <div class="col-12">
              <p class="popular-h text-center">Популярные товары</p>
              <p class="popular-p text-center">Выбирайте  самые популярные товары в нашем магазине</p>
            </div>
          </div>
            <div class="row box">
              {% for item in items%}
              <div class="col-lg-3 col-sm-6 col-12">
                  <div class="items-blocks">
                    <div class="img-item-block">
                        <a href="/product/{{item.alias}}/">
                            <img src="{{item.img_front.url}}" alt="{{item.name}}" />
                        </a>
                      {% if item.label_new %}
                        <div class="label-new">Новинка</div>
                      {% endif %}
                      {% if item.label_hit %}
                        <div class="label-hit">Хит</div>
                      {% endif %}
                    </div>
                    <div class="title-item-block">
                        <a href="/product/{{item.alias}}/" class="name-product">{{item.name}}</a>
                        {% if item.size %}
                            <p>Размер: {{item.size}} мм</p>
                        {% endif %}
                        {% if item.dlina %}
                            <p>Длина: {{item.dlina}}</p>
                        {% endif %}
                        {% if item.obrob %}
                            <p>Обработка: {{item.obrob}}</p>
                        {% endif %}
                    </div>
                    <div class="price-item-block">
                        <p>
                            {% if item.price %} {{item.price|floatformat:'-3'}}{% if item.price_for_wt %} р/шт {% else %} р/м.п. {% endif %}{% endif %}
                        </p>
                        <p>
                            {% if item.price_kv %}{{item.price_kv|floatformat:'-3'}} р/кв.м {% endif %}
                        </p>
                    </div>
                    <div class="item-block-a"><a href="/product/{{item.alias}}/">Подробнее</a></div>
                  </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}
<div class="container-fluid project-home">
      <div class="row">
        <div class="col-12">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="title-info">
                    <p>
                  НАШИ ПРОЕКТЫ
                    </p>
                  <div class="blue-line"></div>
                </div>
                  </div>
              </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-12">
                <p>
                  Нам доверяют тысячи людей
                </p>
                  <p>Наша компания занимается собственным производством и продажей доски из древесно-полимерного композита.
Наша компания осуществляет доставку ДПК по всей территории РФ. Оплата производится только после получения, клиент может оценить качество материалов и тогда оплатить стоимость заказа.
                  </p>
                <p>
Продукция из ДПК – это универсальное и выгодное решение для стройки, ремонта и отделки. Сфера применения ДПК поражает многообразием.
                </p>
                <a href="/optovikam/" class="btn">СМОТРЕТЬ БОЛЬШЕ</a>
                  <img src="/static/image/proect1.jpg" width="100%" alt="Проект" />
              </div>
              <div class="col-lg-6 col-sm-6 col-12 a-sm-ll" itemscope itemtype="http://schema.org/ImageObject">
                  <div class="container">
                      <div class="row project-row">
                          {% for p in projects %}
                              <div class="col-lg-6 col-sm-6 col-12">
                                  <img src="{{p.img_front.url}}" width="100%" alt="Проект" />
                                  <a href="/raboti/{{p.alias}}">ПОСМОТРЕТЬ ПРОЕКТ</a>
                              </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container-fluid info-opt-home">
      <div class="row">
        <div class="col-12">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-sm-4 col-12">
                <div class="title-info">
                    <p>
                  ИНФОРМАЦИЯ ДЛЯ ОПТОВИКОВ
                    </p>
                  <div class="blue-line"></div>
                </div>
                <p>
                  Если Вы хотите с нами сотрудничать, мы готовы предоставить скидку на оптовые партии нашей продукции
                </p>
              </div>
              <div class="col-lg-8 col-sm-8 col-12 a-sm-ll">
                  <form>
                      <div>
                          <p><label>Имя</label></p>
                          <p><input type="text" name="name" placeholder="Введите Ваше имя" /></p>
                      </div>
                      <div>
                          <p><label>E-mail</label></p>
                          <p><input type="text" name="name" placeholder="mail@example.ru" /></p>
                      </div>
                      <div>
                          <p></p>
                          <p><button>БЕСПЛАТНЫЕ ОБРАЗЦЫ</button></p>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="container-fluid info-home">
      <div class="row">
        <div class="col-12">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-12">
                <div class="title-info">
                    <p>
                  СФЕРА ПРИМЕНЕНИЯ
                    </p>
                  <div class="blue-line"></div>
                </div>
                <p>
                  Сфера применения досок ДПК очень многообразна
                </p>
                <ul>
                  <li><span>Изготовления садовых дорожек;</span></li>
                  <li><span>Обшивки стен и пола на лоджиях, террасах и балконах;</span></li>
                  <li><span>Установки заборов и ограждений;</span></li>
                  <li><span>Отделки хозяйственных построек и помещений коммерческого назначения;</span></li>
                  <li><span>Монтажа фасадов (сайдинга) жилых домов;</span></li>
                  <li><span>Изготовления беседок , патио, террас, пирсов и помостов;</span></li>
                </ul>
                <p>
                    Продукция из ДПК – это универсальное и выгодное решение для стройки, ремонта и отделки. Сфера применения ДПК поражает многообразием.
                </p>
                <a href="/optovikam/" class="btn">УЗНАТЬ БОЛЬШЕ</a>
              </div>
              <div class="col-lg-6 col-sm-6 col-6 a-sm-ll" itemscope itemtype="http://schema.org/ImageObject">
                  <img src="/static/image/obrazec.png" class="obrazec" itemprop="contentUrl" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container-fluid contact">
    <div class="row">
        <div class="col-12">
             <div class="container">
               <div class="row content-contact">
                  <div class="col-lg-6 col-sm-6 col-12 left-column-contact">
                      <div class="bold">
                          МЫ ВСЕГДА РАДЫ ВИДЕТЬ ВАС В НАШЕМ <br> ОФИСЕ <span>DVORDPK</span>!
                          <div class="blue-line"></div>
                      </div>
                    <div class="contact-input">
                        <div>{{address|safe}}</div>
                    </div>
                    <div class="contact-input">
                        <div>Телефон компании: {{phone|safe}}</div>
                    </div>
                    <div class="contact-input">
                        <div>Адрес электронной почты: hello@dvordpk.com</div>
                    </div>
                    <div class="contact-input">
                        <div>Режим работы: Ежедневно — с 10:00 до 19:00</div>
                    </div>
                    <div class="contact-input">
                        <div>Выходные и праздничные дни — офис не работает</div>
                    </div>
                    <div class="contact-input">
                        <div>Ссылки на социальные сети:</div>
                    </div>
                    <div class="flex-footer cont">
                           <a href="https://www.youtube.com/channel/UCPxQzq-9jfffa73gtfxU6Iw" target='_blank' title="Instagram"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                          <a href="https://www.instagram.com/deckorator.ru/" target='_blank' title="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                          <a href="https://wa.me/79171236397" target='_blank' title="Whatsapp"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                          <a href="viber://add?number=79171236397" target='_blank' title="Viber"><i class="fab fa-viber" aria-hidden="true"></i></a>
                          <a href="tel:+79171236397"><i class="fa fa-phone" aria-hidden="true"></i></a>
                      </div>
                  </div>
                 <div class="col-lg-6 col-sm-6 col-12 right-column-contact">
                   <form>
                    <div class="form-group">
                      <input type="text" class="form-control inputName" id="inputName2" placeholder="Имя">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Почта">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control inputComment" id="inputComment2" placeholder="Комментарий"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary">СВЯЗАТЬСЯ С НАМИ</button>
                  </form>
                 </div>
                </div>

               <div class="row content-contact">
                  <div class="col-lg-6 col-sm-6 col-12 left-column-contact">
                      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A033c1cb308c11e14966104a942473b2cbf1f78ed701aea92e6dd33b641fbb1f8&amp;source=constructor" style="border:0; width:100%; height:278px; min-height: 278px;"  ></iframe>
                  </div>
                 <div class="col-lg-6 col-sm-6 col-12 right-column-contact">
                     <div><img src="/static/image/image_contact.jpg" width="100%" /></div>
                 </div>
                </div>
             </div>
        </div>
    </div>
</div>

{% endblock %}
{% block additional_scripts %}
<script>
    $(function() {
        $('.carousel-item:first').addClass('active');
    });
</script>
{% endblock %}
