{% extends '__base2.html' %} {% block content %}


<div class="container-fluid project-home opt">
      <div class="row">
        <div class="col-12">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="title-info">
                    <p>
                  Варианты оптовых поставок
                    </p>
                  <div class="blue-line"></div>
                </div>
                  </div>
              </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-12">
                <ol>
                  <li>Работа под заказ и отгрузка товара из листового дпк с наших складов в Тольятти и других городах</li>
                  <li>Оптовая закупка террасной доски на объект, при этом наша компания осуществляет доставку товара до объекта на всей территории РФ и СНГ</li>
                  <li>Работа со своего склада, на который мы поставляем продукцию</li>
                </ol>
              </div>
              <div class="col-lg-6 col-sm-6 col-12 a-sm-ll" itemscope itemtype="http://schema.org/ImageObject">
                   <img src="/static/image/optovikam.jpg" width="100%" alt="Оптовикам" />
                  <h4 class="besp-ob">БЕСПЛАТНЫЕ ОБРАЗЦЫ <br/> ДЛЯ ОПТОВИКОВ</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container-fluid info-opt-home">
      <div class="row">
        <div class="col-12">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-sm-4 col-12">
                <div class="title-info">
                    <p>
                  ПОЛУЧИТЬ ОПТОВУЮ ЦЕНУ
                    </p>
                  <div class="blue-line"></div>
                </div>
                <p>
                  Наши менеджеры свяжутся с Вами, чтобы отправить Вам оптовую цену и бесплатные образцы
                </p>
              </div>
              <div class="col-lg-8 col-sm-8 col-12 a-sm-ll">
                  <form>
                      <div>
                          <p><label>Имя</label></p>
                          <p><input type="text" name="name" placeholder="Введите Ваше имя" /></p>
                      </div>
                      <div>
                          <p><label>E-mail</label></p>
                          <p><input type="text" name="name" placeholder="mail@example.ru" /></p>
                      </div>
                      <div>
                          <p></p>
                          <p><button>ПОЛУЧИТЬ ЦЕНУ</button></p>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container optovikam">
    <div class="row maps-optovikam">
      <div class="col-3">
        <p>Наши диллеры в городах:</p>
        <ul>
          <li><span>Москва</span></li>
          <li><span>Санкт-Петербург</span></li>
          <li><span>Казань</span></li>
          <li><span>Самара</span></li>
          <li><span>Тольятти</span></li>
          <li><span>Сызрань</span></li>
          <li><span>Ульяновск</span></li>
          <li><span>Чебоксары</span></li>
          <li><span>Новосибирск</span></li>
          <li><span>Пенза</span></li>
          <li><span>Липецк</span></li>
          <li><span>Махачкала</span></li>
          <li><span>Сочи</span></li>
        </ul>
      </div>
      <div class="col-9">
          <p>За много лет работы, мы прошли путь от небольшого производства до большого склада и автоматизированного цеха и 14 дилерами по всей России.</p>
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acb3883c9dcd3400914ea53fb4d29c296681a7984e053ee6169636b81952f60c6&amp;source=constructor" style="width:100%; height:380px; min-height: 380px;" frameborder="0"></iframe>
      </div>
    </div>
</div>
<div class="container-fluid project-home grey">
      <div class="row">
        <div class="col-12">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="title-info">
                    <p>
                  Террасная доска оптом от 300 кв.м.
                    </p>
                  <div class="blue-line"></div>
                </div>
                  </div>
              </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-12">
                    {{data.content|safe}}
              </div>
              <div class="col-lg-6 col-sm-6 col-12 a-sm-ll" itemscope itemtype="http://schema.org/ImageObject">
                   <img src="/static/image/ter-d.jpg" width="100%" class="ter-de" alt="Проект" />
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}
