{% extends '__base2.html' %}
{% block content %}
<div class="container we-works">
  <div class="row">
    <div class="col-12">
    </div>
  </div>
</div>
<div class="container-fluid base-work">
  <div class="row">
      <div class="col-12">
        <div class="container we-works">
            <div class="row">
                <ul itemscope itemtype="https://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="/" title="Главная" itemprop="item">
                    <span itemprop="name">Главная</span>
                    <meta itemprop="position" content="0">
                </a> <span>-</span>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="/raboti/" title="Наши работы" itemprop="item">
                    <span itemprop="name">Наши работы</span>
                    <meta itemprop="position" content="1">
                </a>
                <span>-</span>
            </li>
            {% if cat_name %}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <span itemprop="name">{{cat_name.name}}</span>
                    <meta itemprop="position" content="2">
            </li>
            {% else %}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <span itemprop="name">Все проекты</span>
                    <meta itemprop="position" content="2">
            </li>
            {% endif %}
        </ul>
            </div>
        </div>
      </div>
  </div>
</div>
<div class="container we-works">
    <div class="row project-home">
      <div class="col-3 left-col">
          <ul>
            <li class="
            {% if select_cat == 'all' or select_cat == '' %}
            active
            {% endif %}
            "><a href="?cat_f=all"><span>Все проекты</span> <img src="/static/image/ic-arrow-1.png" /></a>
            {% for catproject in catprojects%}
              <li
            class="
            {% if select_cat == catproject.alias %}
            active
            {% endif %}
            "
          ><a href="?cat_f={{catproject.alias}}"><span>{{catproject.name}}</span> <img src="/static/image/ic-arrow-1.png" /></a>
            {% endfor %}
          </ul>
          {% if akcii %}
          <div class="rab-akc">
            <h4 class="title-akcii">Акции</h4>
              {% for a in akcii %}
                <div class="akcii-block">
                    <img src="{{a.image.url}}" alt="{{a.name}}" style="width:100%;" />
                    <div class="akcii-desc"><div>{{a.desc|safe}}</div></div>
                    <div class="akcii-name">{{a.name|safe}} </div>
                </div>
              {% endfor %}
          </div>
          {% endif %}
      </div>
      <div class="col-9">
          <div class="container-fluid">
            <div class="row">
                {% for project in pag %}
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="black-fon">
                                <a href="/raboti/{{project.alias}}/" class="project-home-a">
                                    <img src="{{project.img_front.url}}" alt="" />
                                    <p>Смотреть проект <i class="fas fa-long-arrow-alt-right"></i></p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
              </div>
          </div>
      </div>
  </div>
   <div class="row base-work footers">
    <div class="col-lg-3 col-sm-6 col-12">


    </div>
  </div>
</div>
<form id="updatePosts" method="GET"  style="display: none">
    {% if select_cat %} <input type="text" name="cat_f" value ="{{select_cat}}" />{% endif %}
    <input type="text" name="sort" class="sort">
</form>
{% endblock %}
